default: &default
  store_options:
    # Cap age of oldest cache entry to fulfill retention policies
    max_age: <%= 7.days.to_i %>
    max_size: <%= 256.megabytes %>
    namespace: <%= Rails.env %>

development:
  database: cache
  <<: *default
  store_options:
    max_age: <%= 1.day.to_i %>
    max_size: <%= 64.megabytes %>
    namespace: <%= Rails.env %>

test:
  database: cache
  <<: *default
  store_options:
    max_age: <%= 1.hour.to_i %>
    max_size: <%= 16.megabytes %>
    namespace: <%= Rails.env %>

production:
  database: cache
  <<: *default
  store_options:
    max_age: <%= 7.days.to_i %>
    max_size: <%= 256.megabytes %>
    namespace: <%= Rails.env %>
